body{
    background-color: yellow;
}
h1{
    color: orangered;
}
div{
    width : 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rect{
    width: 200px;
    height: 100px;
    background-color: pink;
}
